
 
 <div class="col-md-12">
 <form actio='/new' method="post" role='form'>
   <textarea class="form-control" rows="7" name='content' placeholder='Ведите текст вашего поста'></textarea>
   </br>
  <button type="submit" class="btn btn-primary ">Submit</button>
</form></div>
